{% extends "nav.html" %}
{% block navigation %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "base.html" %}
    <title>Complete</title>
</head>
<body>
    <div class="container-fluid bg-light p-5 text-center">
        <h1>Complete a toudou</h1>
        <p>Here you can change your toudou's state as completed.</p>
    </div>
    <br>
    <div class="container">
        <form class="mb-3" action="/complete" method="POST">
            <div class="mb-3">
                <label for="id">Your toudou :</label>
                <select name="id" id="id" class="form-select" required>
                  <option selected disabled>Select a toudou</option>
                  {% if toudous %}
                    {% for toudou in toudous %}
                      <option value="{{ toudou.id }}">{{ toudou.__str__() }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form> 
        {% if error%}
        <div class="alert alert-danger">
            <h4 class="alert-heading">Error</h4>
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}