{% extends "nav.html" %}
{% block navigation %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "base.html" %}
    <title>Delete</title>
</head>
<body>
      <div class="container-fluid bg-light p-5 text-center">
        <h1>Modify a toudou</h1>
        <p>Here you can modify a toudou</p>
    </div>
    <br>
    <div class="container">
      <form class="mb-3" action="{{ url_for('web_ui.modify') }}" method="POST">
          {{ form.hidden_tag() }}
          <div class="mb-3">
              {{ form.id.label }} {{ form.id(class_="form-select", onchange="change()", required=True) }}
              <option selected disabled>Select a toudou</option>
              {% for toudou in toudous %}
                  <option value="{{ toudou.id }}">{{ toudou.__str__() }}</option>
              {% endfor %}
          </div>
          <div id="params">
              <div class="mb-3">
                  {{ form.tname.label }} {{ form.tname(class_="form-control", required=True) }}
              </div>
              <div class="mb-3">
                  {{ form.due.label }} {{ form.due(class_="form-control") }}
              </div>
              <div class="mb-3">
                  {{ form.complete.label }} {{ form.complete(class_="form-select", required=True) }}
              </div>
              <div class="mb-3">
                  {{ form.submit(class_="btn btn-primary") }}
              </div>
          </div>
      </form>
  </div>  
        {% if error%}
        <div class="alert alert-danger">
            <h4 class="alert-heading">Error</h4>
            <p>{{ error }}</p>
        </div>
        {% endif %}
</body>
<script>
    function change()
    {
        params_div = document.getElementById('params');
        id_select = document.getElementById("id");
        if (id_select.selectedIndex != 0)
        {
            params_div.style.display = 'block';
        }
        else
        {
            params_div.style.display = 'none';
        }
    }
</script>
{% endblock %}