{% extends "nav.html" %}
{% block navigation %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "base.html" %}
    <title>Import</title>
</head>
<body>
    <div class="container-fluid bg-light p-5 text-center">
        <h1>Upload CSV File</h1>
        <p>Here you can import toudous as CSV file.</p>
    </div>
    <br>
    <div class="container">
      <form class="mb-3" method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <div class="mb-3">
              {{ form.file.label(class="form-label") }}
              {{ form.file(class="form-control", accept=".csv") }}
          </div>
          <div class="mb-3">
              {{ form.submit(class="btn btn-primary") }}
          </div>
      </form>
  </div>  
</body>
</html>
{% endblock %}