{% extends "nav.html" %}
{% block navigation %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "base.html" %}
    <title>Modify</title>
</head>
<body>
      <div class="container-fluid bg-light p-5 text-center">
        <h1>Modify a toudou</h1>
        <p>Here you can modify a toudou</p>
    </div>
    <br>
    <div class="container">
      <form class="mb-3" action="{{ url_for('web_ui.modify') }}" method="POST">
          {{ form.csrf_token }}
          <div class="mb-3">
              {{ form.id.label }} {{ form.id(class_="form-select", required=True) }}
          </div>
          <div id="params">
              <div class="mb-3">
                  {{ form.tname.label }} {{ form.tname(class_="form-control", required=True) }}
              </div>
              <div class="mb-3">
                  {{ form.due.label }} {{ form.due(class_="form-control") }}
              </div>
              <div class="mb-3">
                  {{ form.complete.label }} {{ form.complete(class_="form-select", required=True) }}
              </div>
              <div class="mb-3">
                  {{ form.submit(class_="btn btn-primary") }}
              </div>
          </div>
      </form>
  </div>  
        {% if error%}
        <div class="alert alert-danger">
            <h4 class="alert-heading">Error</h4>
            <p>{{ error }}</p>
        </div>
        {% endif %}
</body>
{% endblock %}