{% extends "nav.html" %}
{% block navigation %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "base.html" %}
    <title>Complete</title>
</head>
<body>
    <div class="container-fluid bg-light p-5 text-center">
        <h1>Complete a toudou</h1>
        <p>Here you can change your toudou's state as completed.</p>
    </div>
    <br>
    <div class="container">
        <form class="mb-3" action="/complete" method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.id.label }} {{ form.id(class_="form-select", required=True) }}
            </div>
            <div class="mb-3">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form> 
        {% if error%}
        <div class="alert alert-danger">
            <h4 class="alert-heading">Error</h4>
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}