{% extends "nav.html" %}
{% block navigation %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "base.html" %}
    <title>Create</title>
</head>
<body>
    <div class="container-fluid bg-light p-5 text-center">
        <h1>Create a toudou</h1>
        <p>Here you can create a toudou with a deadline and a description.</p>
    </div>
    <br>
    <div class="container">
        <form class="mb-3" action="/create" method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.name.label }} {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                <div class="form-check">
                    {{ form.due_checkbox(class="form-check-input", onclick="check()") }}
                    {{ form.due_checkbox.label }}
                </div>
                <div id="dueSection" class="mb-3" style="display:none;">
                    {{ form.due.label }}
                    {{ form.due(class="form-control") }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
    <script>
    window.onload = function() {
        document.getElementById("due").checked = false;
    };

    function check() {
        var checkBox = document.getElementById("due_checkbox");
        var dueSection = document.getElementById("dueSection");
        if (checkBox.checked) {
            dueSection.style.display = "block";
        } else {
            dueSection.style.display = "none";
        }
    }
    </script>
</body>
</html>
{% endblock %}